:root {
  --dark-color: #0C0910;
  --dark-color2: #1D1627;
  --light-color-1: #FAFFFD;
  --light-color-2: #E3E3E3;
  --light-color-3: #C8C8C8;
  --light-color-4: #A8A8A8;
  --accent-dark-color: #1F1F1F;
  --accent-light-color-1: #818181;
  --accent-light-color-2: #434343;
  --lighten-color-1: rgba(255,255,255,.1);
  --lighten-color-2: rgba(255,255,255,.4);
  --darken-color-1: rgba(0,0,0,.1);
  --darken-color-2: rgba(0,0,0,.4);
  --darken-color-3: rgba(0,0,0,.9);
  --signal-color-1: #2F52E0;
  --signal-color-2: #F24236;
  --signal-color-3: #A2D729;
  --background-gradient: linear-gradient(.25turn, var(--dark-color), var(--dark-color2))
}
  
html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: sans-serif;
  color: var(--light-color-2);
  background: var(--background-gradient);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

x-router {
  color: var(--light-color-2);
}

x-loader {
 top: 0;
}

x-toast, x-notify {
  bottom: 0;
  flex-direction: column;
}

x-loader, x-toast, x-notify {
  position: fixed;
  display: flex;
  z-index: 1;
}

x-router, nav-bar {
  padding: 20px;
}

x-router, nav-bar, x-loader {
  width: 100vw;
  max-width: 1200px;
  box-sizing: border-box;
}